/* Google Font Import (must be first) */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Outfit:wght@100..900&display=swap");

/* Tailwind v4 Required Imports */
@import "tailwindcss";
@import "tailwindcss/utilities";

/* Global Font */
* {
  font-family: "Roboto", sans-serif;
}
